{{ define "qid" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

// resourceTypeMap maps qid resource types to table names.
var resourceTypeMap = map[qid.ID]string{
    {{- range $node := $.Nodes }}
        {{- if $annotation := $node.Annotations.QID }}
            "{{ $annotation.ResourceType }}": {{ $node.Package }}.Table,
        {{- end }}
    {{- end }}
}

{{ end }}